<div  id="foodmodal.html">
            <!--<div class="modal-content">-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
                        ×
                    </button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    <fieldset>

                        <section>
                            <label>Date</label>
                            <label class="input-lg">
                                <input type="date" ng-model="item.date">
                            </label>
                        </section>
                        <section>
                            <label>Time</label>
                            <div class="input-group">
                                <input class="form-control"  type="text" placeholder="Select time" ng-model="item.time">
                                <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                            </div>
                        </section>    
                    <section>
                            <label>Temp</label>
                            <label class="input">
                                <input type="text" class="input-lg" ng-model="item.temp">
                            </label>
                        </section>
                    </fieldset>    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="submit()">
                        Save changes1
                    </button>
                </div>
            <!--</div> /.modal-content -->
    </div><!-- /.modal-dialog -->
