<div>
    <form id="smart-form-register" class="smart-form" data-smart-registration-form>
    <header>
        Add Meal
        <pre> {{ameal}}</pre>
    </header>



    <fieldset>
        <div class="row">
            <section class="col col-6">
                <label class="input"> </i>
                    <input type="date" name="username" placeholder="Date" ng-model="ameal.date">
            </section>  
            <section class="col col-6">
                <label class="input"> </i>
                    <input type="sitename" name="sitename" placeholder="Site Name" ng-model="ameal.siteName">
            </section>
        </div>
                
    <!--<fieldset>-->
    <!--<fieldset>-->
        <div class="row">
            <section class="col col-6">
                <label class="select">
                    <select name="budget" ng-model="ameal.meal.type">
                        <option value="0" selected="" disabled="">Mealtype</option>
                        <option value="1">Breakfast</option>
                        <option value="2">AM Snack</option>
                        <option value="3">Lunch</option>
                        <option value="4">PM Snack</option>
                        <option value="5">Supper</option>
                        
                    </select> <i></i> </label>
            </section>
        </div>
    <!--</fieldset>-->
       
    <!--<fieldset>          -->
      <div class="row">
            
        <section class="col col-6">
            <label class="input">
                <input type="number" name="noofmeals" placeholder="Number Of Meals" id="noofmeals" ng-model="ameal.meal.vendorReceived">
                <b class="tooltip tooltip-bottom-right">Meals Recieved from Vendor</b>
             </label>
        </section>
        <section class="col col-6">
            <label class="input">
                <input type="number" name="noofmeals" placeholder="Carry Over from Yesterday" id="noofmeals" ng-model="ameal.meal.carryOver"
                <b class="tooltip tooltip-bottom-right">Carry Over from yesterday</b>
             </label>
        </section>
      </div>    
      <div class="row">
          <h5 style="margin:10px;"> Meals Consumed </h5>
           <section class="col col-4">
                <label class="input"> </i>
                    <input type="number" name="childconsume" placeholder="Child meal count" ng-model="ameal.meal.consumed.child">
            </section>  
            <section class="col col-4">
                <label class="input"> </i>
                    <input type="number" name="adultconsume" placeholder="Adult meal count" ng-model="ameal.meal.consumed.adult">
            </section>
            <section class="col col-4">
                <label class="input"> </i>
                    <input type="number" name="volunteerconsume" placeholder="Volunteer meal count" ng-model="ameal.meal.consumed.volunteer">
            </section>
      </div> 
      <div class="row">
          <section class="col col-6">
                <label class="input"> </i>
                    <input type="number" name="damaged" placeholder="Damaged meal count" ng-model="ameal.meal.damaged">
            </section>
           <section class="col col-6">
                <label class="input"> </i>
                    <input type="number" name="wasted" placeholder="Wasted meal count" ng-model="ameal.meal.wasted">
            </section>
      </div>          

        
    </fieldset>

    <footer>
        <button type="submit" class="btn btn-primary" ng-click="addMeal()>
            Submit
        </button>
    </footer>
</form>
</div>