web/build
web/node_modules
web/bower_components
server/node_modules
*.iml
.gradle
.idea
.vscode
.DS_Store
/build
/captures
.externalNativeBuild

# Config files
config
server/config/index.json

# npm
npm-debug.log
