web/build
web/node_modules
web/bower_components
server/.DS_Store
server/node_modules
*.iml
.gradle
.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
