.ReportContainer {
	font-family: Helvetica, sans-serif;
	.report-controls {
		background-color: #F7F7F7;
		text-align: center;
		padding: 1em;
	}
	select {
        font-size: 1.4em;
        background-color: #fff;
        border: 1px solid #000;
    }
	.dateConntainer {
		display: block;
		vertical-align: text-top;
		text-align: center;
	}
    .startDateContainer {
       	font-size: 1.4em;
        display: inline-block;
        cursor: pointer;
        border-bottom: 2px dotted #ccc;
        padding: .5em;
        width: auto;
        display: inline-block;
        margin: 2em 0 0 0;
        &:hover {
            background-color: #eee;
        }
    }

    .endDateContainer {
        font-size: 1.4em;
        display: inline-block;
        cursor: pointer;
        border-bottom: 2px dotted #ccc;
        padding: .5em;
        width: auto;
        display: inline-block;
        margin: 2em 0 0 0;
        &:hover {
            background-color: #eee;
        }
    }

    .incrementContainer {
    	span {
    		display: block;
    		margin-bottom: .5em;
    	}
    }

    .generateReport {
    	display: block;
    	margin-left:auto;
    	margin-right:auto;
    	width: 200px;
    	height: 2em;
    	background-color: #fff;
    	font-size: 1.4em;
    }

    .reportListContainer {
    	padding: 2em;
    	table {
    		border-collapse: collapse;
    		td {
    			padding: 1em;
    			margin: 0;
    			border: none;
    		}
    		tr {
    			cursor: pointer;
    			
    			&:hover {
    				background-color: #ccc;
    			}
    		}
    		tr:nth-child(even) {
    			background: #F7F7F7;
    		}
			tr:nth-child(odd) {
				background: #FFF;
			}
			tr:hover td {
				background-color: #eee;
			}
    	}
    }

    .totalsContainer {
    	color: #ccc;
    	padding: 1em;
    }
}