
.adminProfileNavigationContainer {

}

.navItem {
    display: inline-block;
    font-size: 1em;
    font-family: arial;
	margin: 1em 2px 1em 2px;
    cursor: pointer;
    background-color: #eee;
    padding: 1em;
}

