.modalContainer {
    display: block;
    width: 600px;
    height: 600px;
    position: fixed;
    top: 100px;
    left: 30%;
    background-color: white;
    border: 1px solid #ccc;
    font-size: 24px;

}