.modalContainer {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    box-shadow: 6px;
    padding: 0 4em;
    overflow-y: scroll;
    z-index: 99999;
    text-align: left;
    
    span {
    	display: block;
    }

    .value {
    	font-weight: bold;
    }
    .typeBox {
    	background-color: #F7F7F7;
    	font-size: .8em;
    	width: auto;
    	padding: 1em;
    	display: inline-block;

    }

    h4 {
    	margin: 0;
    	line-height: 2;
    }
    .inventoyBox, .servedBox, .commentsBox {
    	width: auto;
    	
    	margin: .5em;
    	padding: .5em;
    	font-size: .8em;
    }

    .commentsBox {
    	background-color: #F7F7F7;
    	margin: 1em 0 1em 0;
    	padding: 2em;
    	font-size: .8em;
    	
    	text-align: left;
    }
    



    .closeButton {
    	position: fixed;
    	top: 1em;
    	left: 1em;
    	background-color: #fff;
    	border: 0;
 		font-size: 1.4em;
 		cursor: pointer;
    }

    .editButton {
    
    	font-size: 1em;
    	padding: .5em;
    	cursor: pointer;
    	text-align: center;
    	
    	cursor: pointer;
    	background-color: #75d085;
        border-radius: 10px;
        color: #fff;
    }
}