.modalContainer {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 4em;
    right: 0;
    bottom: 0;
    background-color: white;
    box-shadow: 6px;
    font-size: 24px;
    padding: 0 4em;
    overflow-y: scroll;
    z-index: 99999;
    text-align: left;
    
    span {
    	display: block;
    }

    .value {
    	font-weight: bold;
    }

    .commentsBox {
    	background-color: #F7F7F7;
    	margin: 1em 0 1em 0;
    	padding: 2em;
    	font-size: .8em;
    	display: inline-block;
    	text-align: left;
    }
    



    .closeButton {
        background-color: #c4c4c4;
    }

    .editButton {
    
    	font-size: 1em;
    	padding: .5em;
    	
    	text-align: center;
    	
    	cursor: pointer;
    	background-color: #75d085;
        border-radius: 10px;
        color: #fff;
    }
}