<!DOCTYPE>
<html>
	<div>
		<strong>Summer Food Service Program:</strong> SFSP
		<br>
		<br>	
		<strong>Summer Reporting Sheet for $Month$Year </strong>
		<br>
		<br>
		<strong>Site Name:</strong> $SiteName
		<br>
		<br>
		<strong>Meal Type:</strong> $MealType
	</div>

	<br>
	<table border="1">
		<tr>
		  <th>Week ending $WeekDateAndYear</th>
		  <th>Mon</th>
		  <th>Tue</th>
		  <th>Wed</th>
		  <th>Thu</th>
		  <th>Fri</th>
		  <th>Sat</th>
		</tr>
	    <tr>
	      <td>$MonConsumed</td>
	      <td>$MonConsumed</td>
	      <td>$MonConsumed</td>
	      <td>$MonConsumed</td>
	      <td>$MonConsumed</td>
	      <td>$MonConsumed</td>
	      <td>$MonConsumed</td>
	    </tr>
	</table>
<br>
<br>
<div>
<strong>Weekly Total Consumed:</strong> $TotalConsumed
</div>

</html>