.reportDisplayContainer {

    .reportSummaryInformation {

        td {
            padding-right: 10px;

            .date {
                width: 150px;
            }
            .libraryName {
                width: 220px;
                white-space:nowrap;
            }

            .type {
                width: 100px;
            }
        }
    }
}