.ReportContainer  {
	font-family: Helvetica, sans-serif;
	.report-controls {
		background-color: #F7F7F7;
		text-align: center;
		padding: 2em;
	}
	.title {
		text-align: center;
		color: #000;
		font-weight: 100;
		font-size: 2.5em;
	}
	select {
        font-size: 1.4em;
        background-color: #fff;
        border: 1px solid #000;
    }

    .dateContainerContainer {
    	background-color: #fff;
    }

	.dateContainer {
		display: block;
		text-align: center;
		margin: 2em 0 0 0;
	}

	.report-controls-nav {
		.nav-item {
			padding: 1em 3em;
			margin: 2em 0;
			background-color: #A3A3A3;
			border: 1px solid #666;
			color: #fff;
			text-decoration: none;
			cursor: pointer;
			&.active {
				background-color: #666;
				cursor: default;
			}
			&:hover {
				background-color: #666;
				cursor: pointer;
			}
		}
	}


    .startDateContainer, .endDateContainer {
        display: inline-block;
        cursor: pointer;
        padding: .5em;
        width: auto;
        display: inline-block;
        margin: 2em;
        text-align: right;

        input {
        	text-align: center;
        	font-size: 1.4em;
        	width: 8em;
        }
        &:hover {
            background-color: #eee;
        }
    }

    .incrementContainer {
    	span {
    		display: block;
    		margin-bottom: .5em;
    	}
    }

    .enableGenerateReport {
    	display: block;
    	width: 200px;
    	height: 2em;
    	background-color: #0682FE;
    	color: #fff;
    	font-size: 1.4em;
    	margin: 2em auto;
    	cursor: pointer;
    	&:hover {
    		background-color: #005DBA;
    	}
	}
	
	.disableGenerateReport {
    	display: block;
    	width: 200px;
    	height: 2em;
    	background-color: #9c9c9c;
    	color: #000;
    	font-size: 1.4em;
    	margin: 2em auto;
    	cursor: default;
    	&:hover {
    		background-color: #9c9c9c;
    	}
    }

    .reportListContainer {
    	padding: 0;
    	table {
    		border-collapse: collapse;
    		thead th{
    			background-color: #eee;
    			padding: .5em;
    		}
    		td {
    			padding: 1em;
    			margin: 0;
    			border: none;
    		}
    		tr {
    			cursor: pointer;
    			
    			&:hover {
    				background-color: #eee;
    			}
    		}
    		tr:nth-child(even) {
    			background: #F7F7F7;
    		}
			tr:nth-child(odd) {
				background: #FFF;
			}
			tr:hover td {
				background-color: #eee;
			}
    	}
	}
	.sigCanvas {
        background-color: white;
        border: 1px solid #eee;
    }
}