.incrementContainer {
    
    padding: 1em 1em 0 1em;
    margin: 1em 3em 3em 3em;
    display: inline-block;
 

    .itemTitle {
        font-size: 1.4em;
        line-height: 2;
    }
    
    .buttonContainer {
        text-align: center;
        font-size: 1.4em;

        button {
            font-size: 1.4em;
        }

        .inc {
            padding: 6px;
        }

        .dec {
            padding: 6px;

        }
        .itemCount {
            
            padding: 1em;

        }
    }
}
