.logoContainer {
    text-align: center;
    width: 400px;
}

.logo {
    
    background-image: url('https://www.sjpl.org/sites/default/files/images/1718/sjpl-twitter-card.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 140px;
    width: 180px;
    display: inline-block;
    margin: 10px;
}
