<!-- MAIN CONTENT -->
<div id="content"  ng-controller="DashboardCtrl">

   
	<div class="row">
		<!--<big-breadcrumbs items="['Dashboard', 'My Dashboard']" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>-->
		<!--<div smart-include="app/layout/partials/sub-header.tpl.html"></div>-->
		<article class="col-xs-4 col-sm-4 pull-right">
			<section>
				    <span style="fontSize: 20px;" for="singleSelect"> Library: </span>
					<label class="select">						
						<select class="input-lg" ng-model="selectedLibrary" ng-change="refreshCharts()">
							<option ng-repeat="lib in allLibraries">{{lib}}</option>
						</select> <i></i> </label>	
			</section>
		</article>
		<article  class="col-xs-4 col-sm-4 pull-right">		
			<section>
					<span style="fontSize: 20px;"> Meal: </span>
					<label class="select">
						<select class="input-lg" ng-model="selectedMeal" ng-change="refreshCharts()">
							<option ng-repeat="meal in mealTypes">{{meal}}</option>
						</select> <i></i> </label>	
			</section>
			
		</article>

	</div>
	<!-- widget grid -->
	<section id="widget-grid1" widget-grid>
		<!-- row -->
		<div class="row">
			  <article class="col-xs-12 col-sm-12">
                <div jarvis-widget id="meal-line-graph-c-widget" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
						<h2> Wasted / Consumed Meals </h2>	
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <meal-line-graph-c statsdata="mealStats"></meal-line-graph-c>
                        </div>
                    </div>
                </div>

            </article>
		</div>
		<div class="row">		
			<article class="col-xs-12 col-sm-12">
                <div jarvis-widget id="morris-normal-bar-graph-widget" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Consumed/Wasted/CarryOver Meals</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <meal-normal-bar-graph statsdata="mealStats"></meal-normal-bar-graph>
                        </div>
                    </div>
                </div>

            </article>
			
		</div>
		
	</section>		


		<!-- end row -->

		<!-- row -->

		
	<!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->
