<di></di>v id="content">
<div class="row">
    <big-breadcrumbs items="['Page Header', 'Subtitle']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
</div>
<section widget-grid id="widget-grid">
    <div class="row">

            <article class="col-sm-12 col-md-6">
                    <button type="button" class="btn btn-primary" ng-click="showRefDialog(-1)" style="margin:10px;">
                        Record Refrigerator temp
                    </button>
                    <br></br>
                <div jarvis-widget id="standard-datatable-widget-refrigerator" data-widget-color="darken" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Refrigerator Temperature Log</h2>                        
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                        <table datatable dt-options="datatables.dtOptions1" dt-columns="datatables.dtColumns1" class="table table-striped table-bordered table-hover" width="100%">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th data-class="expand"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Time</th>
                                <th data-hide="phone"><i class="fa fa-fw fa-phone text-muted hidden-md hidden-sm hidden-xs"></i> Temp</th>   
                                <th data-hide="phone"><i class="fa fa-fw fa-phone text-muted hidden-md hidden-sm hidden-xs"></i> Action</th>   
                                                         
                            </tr>
                        </thead>
                        <tbody>
                            <tr dt-rows ng-repeat="reflog in refLogList">
                                <td> {{reflog.date}}</td>    
                                <td> {{reflog.time}}</td>    
                                <td> {{reflog.temp}}</td>    
                                <td>  <button type="button" class="btn btn-primary" ng-click="showRefDialog($index)">Edit</button>
                            </tr>    
                        </tbody>    
                        </table>
                        </div>
                    </div>
                </div>
            </article>
            <article class="col-sm-12 col-md-6">   
                <button type="button" class="btn btn-primary" ng-click="showFoodDialog(-1)" style="margin:10px;">
                        Record Food temp
                    </button>
                    <br></br> 
                 <div jarvis-widget id="standard-datatable-widget-food" data-widget-color="darken" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Food/Milk Temperature Probe</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                        <table datatable dt-options="datatables.dtOptions2" dt-columns="datatables.dtColumns2" class="table table-striped table-bordered table-hover" width="100%">
                        <thead>
                        <tr>
                            <th data-hide="phone">Date</th>
                            <th data-class="expand"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Time</th>
                            <th>Food Item Name</th>
                            <th data-hide="phone,tablet"><i class="fa fa-fw fa-calendar txt-color-blue hidden-md hidden-sm hidden-xs"></i> Corrective Action</th>
                            <th data-hide="phone"><i class="fa fa-fw fa-phone text-muted hidden-md hidden-sm hidden-xs"></i> Action</th>   

                        </tr>
                        </thead>
                         <tbody>
                            <tr dt-rows ng-repeat="foodlog in foodLogList">
                                <td> {{foodlog.date}}</td>    
                                <td> {{foodlog.time}}</td>
                                <td> {{foodlog.foodName}}</td>
                                <td> {{foodlog.temp}}</td>
                                <td> {{foodlog.comments}}</td>
                                <td>  <button type="button" class="btn btn-primary" ng-click="showFoodDialog($index)">Edit</button>
                            </tr>    
                        </tbody> 

                        </table>

                        </div>
                    </div>
                </div>
            </article>    
    </div>     

</section>    

    <!-- content -->
     
</div>
	