.volunteerDisplayContainer {
    width: 500px;
    margin: 6px;
    padding: 6px;
    text-align: left;
    display: inline-block;
    border: solid #cccccc 1px;
}

.volunteerContactInformation {
    width: 100%;
}
