.mealTallyContainer {
    display: inline-block;
    text-align: center;
    width: 90%;

    .infoContainer {
        margin: 2em 0;
        padding: 2em 0;

        .infoContainerTitle {
            text-align: center;
            color: #000;
            font-weight: bold;
        }

        .dateContainer {
            cursor: pointer;
            border-bottom: 2px dotted #ccc;
            padding: .5em;
            width: auto;
            display: inline-block;
            margin-bottom: 2em;
            &:hover {
                background-color: #eee;
            }
            .dateDisplay span {
                font-size: 1.4em;
                display: block;
            }
        }
    }
}
