body {
    margin: 0;
}
    .mealTallyContainer {
    text-align: center;

    .dateDisplay {
      display: block;
      margin-bottom: .5em;
      font-size: 2em;
    }

    .introContainer {
        background-color: #F7F7F7;
    }

    select {
        font-size: 1.4em;
        background-color: #fff;
        border: 1px solid #000;
    }

    .tallyTotal {
        font-size: 1.6em;
        margin-bottom: 1em;

    }

    .totalNumber {
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 2em;
    }

    .libraryType {
        span {
            display: block;
            margin-bottom: .5em;
        }
    }


    .infoContainer {
        margin: 0;
        padding: 1em 0;

        .infoContainerTitle {
            text-align: center;
            color: #000;
            font-weight: bold;
        }

        .dateContainer {
            cursor: pointer;
            border-bottom: 2px dotted #ccc;
            padding: .5em;
            width: auto;
            display: inline-block;
            margin: 2em 0 0 0;
            &:hover {
                background-color: #eee;
            }
            .dateDisplay span {
                font-size: 1.4em;
                display: block;
            }
        }
    }

    .signatureBox {
        margin: 2em;
    }
    .saveMealTally {
        margin: 10px;
        width: 50%;
        height: 100px;
        font-size: 1.4em;
    }
}
