.alertContainer {
    display: block;
    width: 80%;
    height: 80%;
    position: fixed;
    top: 100px;
    left: 300px;
    border: 1px solid #ccc;

    .messageContainer {

        .message {

        }

        .alertActions {

            .okButton {
                
            }
        }
    }
}