.adminPanelContainer {
    display: block;
}

.filterContainer {
    display: inline-block;
    width: 400px;
    height: 400px;
    margin: 10px;
}

.filterResultsContainer {
    display: inline-block;
    height: 400px;
    width: 560px;
    margin: 10px;
    overflow-y: scroll;
}

.loadingScreenContainer {
    display: block;
    width: 800px;
    height: 800px;
    position: fixed;
    top: 100px;
    left: 300px;
    border: 1px solid #ccc;
}

.register-site-superviser .sponser-list {
    height: 300px;
    overflow: scroll;
}