.reportListContainer {
    table {
        width: 100%;

        thead {
            tr {
                th {
                    text-align: left;

                    .date {
                        width: 150px;
                    }
                    .libraryName {
                        width: 220px;
                        white-space:nowrap;
                    }
                    .type {
                        width: 100px;
                    }
                    .signature {
                        width: 150px;
                    }
                }
            }
        }
        tbody {
            .reportList {
                height: 400px;    
                overflow-y: scroll;
    
            }
        }
    }
}